/* HEADER 전용 CSS */
.headerContainer{
    position: relative;
    border-radius: .375rem;
    background-color:#fff;
    overflow: hidden;
}

.header{
    margin-left: 20px;
}

.container{
    position: relative;
    border-radius: .375rem;
    background-color:#fff;
    box-shadow: 0 4px 7px lightgray;
    overflow: hidden;
    text-align: center;
    max-height: 417px;
}

.container:hover{
    box-shadow: 0 4px 7px #6098FF;
}

.img{
    display: inline-block;
    margin-top: 10px;
    box-shadow: 0 10px 10px lightgray;
}

.contents{
    font-size: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.link{
    text-decoration: none;
    color: black;
    display:"block"
}