body{
    background-color: #eff3f7;
}

.container{
    position: relative;
    overflow: hidden;
}

.wrapper{
    margin: 0 auto;
    max-width: 1024px;
    padding: 150px;
}

.ul{
    overflow: hidden;
    list-style: none;
}

.li{
    box-sizing: border-box;
    float: left;
    padding: 0 10px 40px;
    width: 30%;
}

.li:nth-child(3n+1){
    clear: both;
}
